
.footerWraper{
    background-color: #243b55;
}
.footerRoot{
   
    text-align: center;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); 
    border-radius: 0 105px 0 0;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footerRoot .imageContainer{
    text-align: center;
    border: 1px solid white;
    border-width: 0 0 1px 0;
}
.footerImage{
  width: 20%;
}
.siteName{
    color: #fff;
    font-size: 34px;
}
.contactContainer{
text-align: center;
width: 50%;
margin: 4% auto 0 auto;
}
.contactContainer ul{
  display: flex;
  justify-content: space-around;
  
  padding: 5%;
  border-radius: 7px;
 
}
.contactContainer ul li{
    color:gainsboro;
    font-size: 18px;

}
.contactContainer ul li .linkk{
  color:#fff;
  text-decoration: none;
  cursor: pointer;
}
.contactContainer .iconContainer{
    color: gainsboro;
    display: flex;
    margin: 2%;
    justify-content:center;
}
.contactContainer .iconContainer .icon:hover{
    box-shadow: #6a1c5b 1px 5px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}
.contactContainer .iconContainer .icon{
    margin: 1% 5%;
  
    padding: 1%; 
    box-shadow: #6a1c5b 1px 5px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    border-radius: 50%;
}
.contactContainer .newsletter-signUp{
    margin: 4%;
}
.contactContainer .newsletter-signUp a{
    color:#cbb3eb;
    font-size: 18px;
}
.contactContainer .copyRightContainer{
   
    margin-top: 5%;

}
.copyRightContainer .copyright-text{
    color: #af7aa5;
}
