.container{
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); 
  border-radius: 0 105px 0 0;
  padding-bottom: 1%;
}
.sidePanel{
  border-radius: 0 0 0 105px;
  
}
.mainContainer .cards{
  width: 90%;
 margin: 2%;
 
}
.cards{
  display: inline-block;
}
 .cards .card{
  background: rgba(0,0,0,0.3);
  position:relative;
  overflow:hidden;

}
.cards .card .content{
  z-index:2; 
  position:relative;
}
.card:hover{
  border : 1px solid #13111a;

  box-shadow: rgba(145, 135, 100, 0.4) 0 8px 80px, rgba(102, 74, 160, 0.3) 0 7px 13px -3px, #13111a 0 -3px 0 inset;

}
.content .cardName{
  font-size: 22px;
  color: #fff;
}
.cards .card .layer {
  z-index:1;
  position:absolute;
  top:calc(100% - 2px);
  height:100%;
  width:100%;
  left:0;
  /* background-image: linear-gradient(to bottom, #ffffff, #c3bfc9, #8e8294, #5f4960, #34142e); */
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* background:linear-gradient(to left ,#5f4960, #34142e); */
  transition:0.5s;
  
}
.cards .card:hover  .layer{
  top:0;
}
.cards .card .content .cardImageContainer{
width: 100%;

}
.cards .card .content .cardImageContainer .cardImage{
  
  border-radius: 0.5rem;
  height: 250px;
}

.cardImage{
  width: 100%;
}

.details{
  color: white;
}
.contact-detail{
  display: flex;
  justify-content:space-around;
  margin-top: 5%;
  font-weight: 600;

}
.contact-detail a{
  color: white;
}
