.headingTop{
    margin: 2%;
    
}
.headingTypo{
    font-size: 24px;
}

.rootContainer{
    display: flex;
    background: linear-gradient(#141e30, #243b55);
}
.mainContainer{
    width: 65%;
   

}
.headingContainer{
  
    box-shadow: 0 2px 2px #FFD700;
    background: rgba(0,0,0,.5);
     text-align: center;
     margin: 2%;
     border-radius: 10px;
     margin-top: 10%;
}
.sidePanel{
    width: 25%;
    margin-right: 2%; 
    background: rgba(0,0,0,.5);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 15px 25px #FFD700;
}

.login-box {
    position: absolute;
    top: 75%;
    left: 60%;
    width: 60%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 1px 5px #FFD700;
    border-radius: 10px;
  }
  .login-box .user-box {
    position: relative;
  }
  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FFD700;
  font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FFD700;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #FFD700;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FFD700,
                0 0 25px #FFD700,
                0 0 50px #FFD700,
                0 0 100px #FFD700;
  }
  