.cardRoot {
    background-color: #935baf;
    background-image: linear-gradient(to bottom, #1d1a27, #342b48, #4f3b6a, #6f4b8d, #935baf);
}
.addButton{
   
        color: #13111a;
        padding: 43% 85%;
        border : 1px solid #13111a;
        border-radius: 5px;
        font-weight: 600;
        background-color: white;

}
.addButton:hover{
    color: #fff;
    background-color: #13111a;
    border : 1px solid #fff;

    box-shadow: rgba(1045, 135, 100, 0.4) 0 8px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #935baf 0 -3px 0 inset;

}